body {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover

 

 
}
h1 {
  color: rgb(255, 0, 85);
  font-size: 2em;
  font-family: 'Merienda', sans-serif;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

div.a {
  text-align: center;
} 

div.content { width: 700px }

body { margin:0 auto; max-width: 700px; }


btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;}

  div.b {
    
    text-align: justify;

}

  .form-container {
     display: grid;
     place-items: right;
     
   }

.center {
  margin-left: auto;
  margin-right: auto;
}
th {padding: 8px; border: 1px solid #0e0808; text-align: left;}

.button {
       display: inline-block; 
       padding: 10px 20px; 
       background-color: #007bff; 
       color: #fff; 
       text-decoration: none; 
       border-radius: 5px; 
       cursor: pointer; 
   }

img {
  display: block;
  margin: auto;
}

 #results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 10px;
 }

.results-container img {
  display: block; 
  max-width: 100%;
  height: auto; 
  object-fit: cover; 
  min-height: 0; 
}


.search-result {
  
  border: none;
  padding: 10px;
}


